@model CommentVM


<br /><br /><hr />
<li class="text-wheat"><span class="text-yellowish">User:</span> @Model.User</li>
<li class="text-wheat"><span class="text-yellowish">Date:</span> @Model.Date</li>
<li class="text-wheat"><span class="text-yellowish">Message:</span> @Model.Message</li>
