@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-controller="Account" asp-action="Logout">Log out</a></li>
}
else
{
    <li><a id="registerLink" asp-controller="Account" asp-action="Register" class="glyphicon glyphicon-user"> Register</a></li>
    <li><a id="loginLink" asp-controller="Account" asp-action="Login" class="glyphicon glyphicon-log-in"> Login</a></li>
}



