@model ProductNotFoundViewModel


<div class="product-not-found">
    <img height="500" width="1400" src="~/images//notFound.jpg" />
    <h2>Sorry, the product @Model.Message could not be found.</h2>
</div>
